<div class="container">
  <h3>Contact History Listing</h3>

  <table class='table table-hover table-condensed'>
    <thead>
      <tr>
        <th> Customer </th>
        <th> Agent </th>
        <th> Data </th>
        <th> Model </th>
        <th> Summary </th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% _.forEach(contactHistorys, function(contactHistory) { %>
        <tr data-id="<%=contactHistory.id %>" data-model="contactHistory">

          <td><%= contactHistory.customer ? contactHistory.customer.lastName + ', ' + contactHistory.customer.firstName : '' %></td>
          <td><%= contactHistory.agent ? contactHistory.agent.lastName + ', ' + contactHistory.agent.firstName : '' %></td>
          <td><%= contactHistory.data %></td>
          <td><%= contactHistory.model %></td>
          <td><%= contactHistory.summary %></td>

          <td><a href="/contactHistory/show/<%=contactHistory.id %>"  class="btn btn-primary btn-sm" role="button">Show</a></td>
          <td><a href="/contactHistory/edit/<%=contactHistory.id %>"  class="btn btn-primary btn-sm" role="button">Edit</a></td>

          <td>
            <form action="/contactHistory/destroy/<%=contactHistory.id %>" method="POST">
              <input type="hidden" name="_method" value="delete"/>
              <input type="submit" value="Delete"  class="btn btn-danger btn-sm" role="button"/>
            </form>
          </td>

        </tr>
      <% }) %>
    </tbody>
  </table>

  <a href="/contactHistory/new/" class="btn btn-success btn-sm" role="button">New ContactHistory</a> |
  <a href="/">all scaffolds</a>

</div>
