	<form action="/agent/update/<%=agent.id%>" method="POST" class="edit">
	<div class="form-group">
		<h2> editing a agent... </h2>
		<% if(flash && flash.err) { %>
<ul class="alert alert-success">
<% Object.keys(flash.err).forEach(function(error) { %>
<li><%- JSON.stringify(flash.err[error]) %></li>
<% }) %>
</ul>
<% } %>
		
	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= agent.firstName %>" name="firstName" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= agent.lastName %>" name="lastName" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= agent.email %>" name="email" type="text" class="form-control"/>
	</div>

	<div class="form-group" style="width: 400px;">
	<label>name</label>
	<input value="<%= agent.phone %>" name="phone" type="text" class="form-control"/>
	</div>

		</div>
		<input type="submit" value="Update Agent" class="btn btn-default"/>
		<a href="/agent/show/<%=agent.id %>" class="btn btn-danger">Cancel</a>
	</form>
	
	