<form class="show">
  <div class="form-group">
    <h2> An agent... </h2>

    <div class="form-group" style="width: 400px;">
      <label>First Name</label>
      <input value="<%= agent.firstName %>" name="firstName" type="text" class="form-control" disabled/>
    </div>

    <div class="form-group" style="width: 400px;">
      <label>Last Name</label>
      <input value="<%= agent.lastName %>" name="lastName" type="text" class="form-control" disabled/>
    </div>

    <div class="form-group" style="width: 400px;">
      <label>Email</label>
      <input value="<%= agent.email %>" name="email" type="text" class="form-control" disabled/>
    </div>

    <div class="form-group" style="width: 400px;">
      <label>Phone</label>
      <input value="<%= agent.phone %>" name="phone" type="text" class="form-control" disabled/>
    </div>

    <div class="form-group" style="width: 400px;">
      <label>Customers</label>
      <input value="<%= agent.customers %>" name="customers" type="text" class="form-control" disabled/>
    </div>

  </div>

  <a href="/agent/edit/<%=agent.id %>" class="btn btn-default">Edit</a> |
  <a href="/agent">Back to list</a>

</form>
